.header{
    border-bottom: 1px solid #000;
    padding: 10px 0 10px 0px;
    margin: 0 0 40px 0;
}

.header__links a{

    &:hover{
        text-decoration: underline;
    }
    &:nth-child(1){
        padding: 0 10px 0 10px;
        border-right: 1px solid #000;
    }
    &:nth-child(2){
        padding-left: 8px;
    }

}