.main{
    padding: 0 10px 0 10px;
}

.task__form p{
    margin: 10px 10px 10px 0;
}

.task__form input[type="text"], textarea{
    font-size: 15px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 30vw;

    &:focus{
        border-color: #999696;
    }

    &.red__outline{
        border: 1px solid red !important;
    }
}

.task__form textarea{
    height: 20vh;
}

.task__form input[type="radio"]{
    accent-color: #000;
    margin: 5px 10px 5px 0;
}

.task__form ul li{
    width: 30vw;

    &:hover{
        background-color: #00000011;
    }
}

.task__form input[type="submit"]{
    width: 10vw;
    padding: 10px 15px 10px 15px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #363535;
    color: #fff;
    box-shadow: 0 2px 2px #000;
    transition: all 0.2s ease;

    &:hover{
        border: 1px solid #363535;
        background-color: #fff;
        color: #363535;
    }

    &:active{
        box-shadow: none;
        transform: translateY(2px);
    }
}

.task__list{

}

.list{
    max-width: 60vw;
    max-height: 60vh;
    overflow: auto;
}

.task__list form{
    max-width: 60vw;
    padding: 5px 10px 5px 10px;
    border: 1px solid #000;
}

.task__list input[type="submit"]{
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 5px;
    border: 1px solid #000;

    &:hover{
        opacity: 0.7;
        cursor: pointer;
    }
}

.list table{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px 5px 10px;
    border-collapse: collapse;
}

.list th, td{
    max-width: 30vw;
    overflow: hidden;
    border: 1px solid #000;
    padding: 5px 10px 5px 10px;
}

tbody tr:hover{
    background-color: #00000018;
    text-decoration: underline;
}